@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

body {
    font-family: 'Open Sans';
    font-size: 24px;
}

.bg-pic {
  background-size: cover;
}

p, ul, li {
    font-size: 24px;
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 490px;
}

.pics img{
  max-width: 600px; 
}

.vsimg img{
  width: 64px;
}

.imgteste {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.inverse {
    background: #272822;
    color: #777872;
    text-shadow: 0 0 20px #333;
}

.inverse h1,
.inverse h2 {
    color: #f3f3f3;
    line-height: 0.8em;
}

.remark-code,
.remark-inline-code {
    font-family: 'Ubuntu Mono';
}

.right {
    float: right;
    margin-left: 1em;
}

.task {
    float: right;
    font-size: 0.9em;
    padding-top: 0.6em;
}

.task a {
    color: #080;
    text-decoration: none;
}

li h3 {
    margin-bottom: 5px;
}

.high {
  background-color: yellow ;
}
